---
title: Agnes Konradsdottir
---


  <div class="grid-container">
    <div class="leftside"></div>
    <nav></nav>
    <div class="rightside">
        <div class="name">
          <%= partial 'partials/name' %>
        </div>
        
        <div class="projects">
          <%= partial 'partials/projects' %>
        </div>
        
        <div class="about">
          <%= partial 'partials/about' %>
        </div>
        <div class="skills">
          <%= partial 'partials/skills' %>
        </div>
        <div class="contact">
          <%= partial 'partials/contact' %>
        </div>
        <div class="footer">
          <%= partial 'partials/footer' %>
        </div>

    </div>
    


  </div>  

