---
title: Agnes Konradsdottir
---

  <div class="sidebar">
    <%= partial 'partials/sidebar'%>
  </div>
  
  <div class="grid-container">
    <div class="leftside"></div>

    <div class="rightside">
        <div id="name">
          <%= partial 'partials/name' %>
        </div>
        
        <div id="projects">
          <%= partial 'partials/projects' %>
        </div>
        
        <div id="about">
          <%= partial 'partials/about' %>
        </div>

        <div id="skills">
          <%= partial 'partials/skills' %>
        </div>

        <div id="contact">
          <%= partial 'partials/contact' %>
        </div>
        
        <div id="footer">
          <%= partial 'partials/footer' %>
        </div>

    </div>
    
  </div>  

